entrypoint = "README.md"
modules = ["nodejs-22"]

[nix]
channel = "stable-24_05"
packages = ["jdk"]

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run expo:static:build && npm run server:build"]
run = ["npm", "run", "server:prod"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 80

[env]
PORT = "5000"

[agent]
stack = "EXPO"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start App"

[[workflows.workflow]]
name = "Start App"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server:dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run expo:dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyAZNzP2JVIuELHqBKCJQEoj_H_MDtn1nVA"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "debt-free-af02a.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "debt-free-af02a"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "debt-free-af02a.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "629935243184"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:629935243184:web:62d4677f383c48a17a2075"
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID = "629935243184-vflmb8gi97r6e7fcsmdk1dg6i4ib9e2a.apps.googleusercontent.com"
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID = "629935243184-b7au1o5i4cengp09s9gr2ld51dbo66ua.apps.googleusercontent.com"
